#section-one{
    background-image: url(../Assets/Home/1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50.75rem;
    display: flex;
    align-items: center;  
}
#div-one-section-one{
    background-color: #FFF3E3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 26.25rem;
    width: 40%;
    padding-left: 2.5rem;
    margin-left: 50%;
}
#div-two-section-one{
    display: flex;
    flex-direction: column;
}
#span-one-section-one{
    font-weight: 600;
    letter-spacing: 3px;
    color: #333333;
}
#span-two-section-one{
    font-weight:700;
    font-size: 3.25rem;
    color:#B88E2F;
    width: 75%;
}
#span-three-section-one{
    font-size: 1.125rem;
    width: 90%;
    color: #333333;
}
#button-section-one{
    width: 10.625rem;
    height: 3.75rem;
    background-color:#B88E2F;
    font-weight: 700;
    border: none;
    color: white;
}
#section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3.5rem;
}
#span-one-section-two{
    font-weight: 700;
    font-size: 2rem;
    color: #333333;
}
#span-two-section-two{
    font-weight: 400;
    font-size: 1.25rem;
    color: #333333;
    padding-bottom: 3.875rem;
}
#div-one-section-two{
    display: flex;
    justify-content: space-around;
}
.div-in-div-in-section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
}
.span-in-div-in-section-two{
    font-weight: 600;
    size: 1.5rem;
    color: #333333;
    padding-top: 1.875rem;
}
#section-three{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20;
}
#span-one-section-three{
    font-weight: 700;
    font-size: 2.5rem;
    color: #3A3A3A;
    padding-bottom: 2rem;
}
.div-in-div-in-section-three{
    display: flex;
    justify-content: space-around;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}
.item-in-section-three{
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
    width: 20%;
    margin-bottom: 2rem;
}
.span-in-div-in-section-three{
    font-weight: 600;
    size: 1.5rem;
    color: #3A3A3A;
    padding-bottom: 0.5rem;
}
.span-two-in-div-in-section-three{
    color: #898989;
    padding-bottom: 0.5rem;
}
.price-in-section-three{
    font-weight: 600;
    size: 1.25rem;
    color: #3A3A3A;
    padding-bottom: 2rem;
}
.img-in-section-three{
    height: 20rem;
    padding-bottom: 1rem;
}
#button-in-section-three{
    width: 11.625rem;
    height: 2.75rem;
    color:#B88E2F;
    background-color: white;
    border: #B88E2F 1px solid;
    margin-bottom: 4.5rem;
    font-weight: 600;
}