#section-one{
    background-image: url(../Assets/Shop/header.jpeg);
    background-size: contain;
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 18rem;
}
#div-one-section-one{
    font-size: 3rem;
}
#div-two-section-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
#span-three-div-two-section-one{
    font-weight: 300;
}
#div-opacity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 241, 241, 0.5);
    width: 100%;
    height: 100%;
}
#span-two-div-two-section-one{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}